<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
{{range .AMS}}
    <div class="card">
        <img src="/resources/{{.Image}}" alt="{{.Name}}">
        <h3>{{.Name}}</h3>
        <p>{{.Description}}</p>
        <h3>{{.Rate}} баллов</h3>
        <h3>{{.Price}}$</h3>
        <a href="/product/{{.ID}}">Подробнее</a>
    </div>
{{end}}
</body>
</html>