<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
        <h1 class="header_h">Подробная информация</h1>
<div class="line"></div>
{{with .Planets}}
<div class="info-card">
    <img src="/resources/{{.Image}}" alt="{{.Name}}">
    <h3>{{.Name}}</h3>
    <span>Доступные для полёта АМС:</span>
    <ul>
        {{range .AMS}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    <a href="/">На главную</a>
</div>
{{end}}




</body>


</html>